<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aula06.gestures"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.aula06.gestures.Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.aula06.gestures.GestosActivity" />
        <activity android:name="com.example.aula06.gestures.GestosSwipeActivity" />
        <activity android:name="com.example.aula06.gestures.GestosZoomActivity" />
        <activity
            android:name="com.example.aula06.gestures.SalvarGestoActivity"
            android:label="@string/title_activity_salvar_gesto" >
        </activity>
    </application>

</manifest>