<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aula05.media"
    android:versionCode="2"
    android:versionName="1.1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity android:name=".Menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".audio.ExemploMediaPlayer" />
        <activity android:name=".audio.ExemploPlayerMp3" />
        <activity android:name=".audio.ExemploMp3ListCard" />
        <activity android:name=".audio.ExemploPlayerMp3ComServico" />
        <activity android:name=".video.ExemploPlayerVideo" />
        <activity android:name=".video.ExemploPlayerVideoSurface" />
        <activity android:name=".video.ExemploVideoView" />
        <activity android:name="com.example.aula05.media.camera.ExemploCamera" />
 		<activity android:name="com.example.aula05.media.camera.ExemploCameraArquivo" />

        <service android:name="com.example.aula05.media.audio.service.ServicoMp3" />
    </application>

</manifest>